
##$webResourceManager.requireResourcesForContext("onlyofficejira")


##<div class="mod-content issue-drop-zone">
##    <div duitype="dndattachment/dropzones/AttachmentsDropZone" class="issue-drop-zone -dui-type-parsed" data-upload-limit="10485760" data-upload-size="10.00 MB">
##        <div class="issue-drop-zone__target"></div>
##        <span class="issue-drop-zone__text">
##            <span class="issue-drop-zone__drop-icon"> </span>
##            Перенесите файлы, чтобы прикрепить, или
##            <button type="button" class="issue-drop-zone__button"> обзор.</button>
##            <input class="issue-drop-zone__file ignore-inline-attach" type="file" multiple="">
##        </span>
##    </div>
##</div>



## шаблон добавляемой строки внутри дива
<div id="attachment_item_template" style="display: none">
    <li class="attachment-content js-file-attachment" data-attachment-id="__attachId__" data-issue-id="$issueid" data-attachment-type="file" resolved="">
        <div class="attachment-thumb">
            <a href="$jirabaseurl/secure/attachment/__attachId__/__attachFileName__">
                <span class="aui-icon aui-icon-small attachment-icon aui-iconfont-devtools-file"></span>
            </a>
        </div>

        <div style="float: left;width: 200px; word-wrap: normal;">
            <a href="$jirabaseurl/secure/attachment/__attachId__/__attachFileName__" title="__attachFileName__" draggable="false" >__attachFileName__</a>
        </div>
        <div class="attachment-size" style="float: left;width: 74px;">
            __attachFileSize__
        </div>
        <div class="attachment-date" style="float: left;width: 166px;">
            <time class="livestamp" datetime="__attachCreated__"></time>
        </div>
        <div style="float: left;width: 35px;">
            <a target="_blank" href="$jirabaseurl/plugins/servlet/onlyoffice/doceditor?projectId=$projectId&issueId=$issueId&attachmentId=__attachId__&fileurl=$jirabaseurl/rest/onlyoffice/1.0/file/get/$projectId/$issueId/__attachId__/__attachFileName__&filename=__attachFileName__">
                <span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span>
            </a>
        </div>
        <div class="attachment-delete" style="float: right;">
            <a title="Удалить вложение" id="del___attachId__" href="$jirabaseurl/secure/DeleteAttachment!default.jspa?id=$issueid&amp;deleteAttachmentId=__attachId__&amp;from=issue"><span class="icon-default aui-icon aui-icon-small aui-iconfont-delete">Удалить вложение</span></a>
        </div>
    </li>
</div>

## диалог удаления элемента
<section id="demo-warning-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true" attachId="">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Confirm you want to delete this thing</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <p>If you do this, there's no going back. Are you certain that you want this thing to be gone forever?</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="warning-dialog-confirm" class="aui-button aui-button-primary">Удалить</button>
            <button id="warning-dialog-cancel" class="aui-button aui-button-link">Отмена</button>
        </div>
    </footer>
</section>


<ol id="oo_file_attachments" class="item-attachments">

#foreach($oneAttach in $attachments)

        <li class="attachment-content js-file-attachment" data-attachment-id="$oneAttach.getId()" data-issue-id="$issueid" data-attachment-type="file" resolved="">
            <div class="attachment-thumb">
                <a href="$jirabaseurl/secure/attachment/$oneAttach.getId()/$oneAttach.getFileName()">
                    <span class="aui-icon aui-icon-small attachment-icon aui-iconfont-devtools-file"></span>
                </a>
            </div>

            <div style="float: left;width: 200px; word-wrap: normal;">
                <a href="$jirabaseurl/secure/attachment/$oneAttach.getId()/$oneAttach.getFileName()" title="$oneAttach.getFileName()" draggable="false" >$oneAttach.getFileName()</a>
            </div>
            <div class="attachment-size" style="float: left;width: 74px;">
                $oneAttach.getFileSize()
            </div>
            <div class="attachment-date" style="float: left;width: 166px;">
                <time class="livestamp" datetime="$oneAttach.getCreated()"></time>
            </div>
            <div style="float: left;width: 35px;">
                <a target="_blank" href="$jirabaseurl/plugins/servlet/onlyoffice/doceditor?projectId=$projectId&issueId=$issueId&attachmentId=$oneAttach.getId()&fileurl=$jirabaseurl/rest/onlyoffice/1.0/file/get/$projectId/$issueId/$oneAttach.getId()/$oneAttach.getFileName()&filename=$oneAttach.getFileName()">
                    <span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span>
                </a>
            </div>

            <div>
                <button projectId="$projectId" issueId="$issueId" attachId="$oneAttach.getId()" attachName="$oneAttach.getFileName()" class="aui-button">Show warning dialog</button>
            </div>

            <div class="attachment-delete" style="float: right;">
                <a title="Удалить вложение" id="del_$oneAttach.getId()" href="$jirabaseurl/secure/DeleteAttachment!default.jspa?id=$issueid&amp;deleteAttachmentId=$oneAttach.getId()&amp;from=issue"><span class="icon-default aui-icon aui-icon-small aui-iconfont-delete">Удалить вложение</span></a>
            </div>




##            <dl>
##                <dt class="attachment-title" style="display: block; width: 300px; word-wrap: normal;">
##                    <a href="$jirabaseurl/secure/attachment/$oneAttach.getId()/$oneAttach.getFileName()" title="$oneAttach.getFileName()" draggable="false" >$oneAttach.getFileName()</a>
##                </dt>
##                <dd class="attachment-delete">
##                    <a title="Удалить вложение" id="del_$oneAttach.getId()" href="$jirabaseurl/secure/DeleteAttachment!default.jspa?id=$issueid&amp;deleteAttachmentId=$oneAttach.getId()&amp;from=issue"><span class="icon-default aui-icon aui-icon-small aui-iconfont-delete">Удалить вложение</span></a>
##                </dd>

##                <dd class="attachment-date"><time class="livestamp" datetime="$oneAttach.getCreated()"></time></dd>
##
##                <dd class="attachment-size" style="margin-right: 0px">
##                    <a href="$jirabaseurl/plugins/servlet/onlyoffice/doceditor?projectId=$projectId&issueId=$issueId&attachmentId=$oneAttach.getId()&fileurl=$jirabaseurl/secure/attachment/$oneAttach.getId()/$oneAttach.getFileName()&filename=$oneAttach.getFileName()"> Редактировать
##                        <span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span>
##                    </a>
##                    <a href="$jirabaseurl/plugins/servlet/onlyoffice/doceditor?projectId=$projectId&issueId=$issueId&attachmentId=$oneAttach.getId()&fileurl=$jirabaseurl/rest/onlyoffice/1.0/file/get/$projectId/$issueId/$oneAttach.getId()/$oneAttach.getFileName()&filename=$oneAttach.getFileName()"> Редактировать
##                        <span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span>
##                    </a>

##                </dd>

##                <dd class="attachment-size">$oneAttach.getFileSize()</dd>


##                <dd class="attachment-author">$oneAttach.getAuthor()</dd>
##            </dl>
        </li>

#end

</ol>
